<!DOCTYPE html>
<html>
<head>
	<title>Discussion Forum</title>
</head>
<body>
	
		<div id="chatwing-button-7915a340-932e-11e8-9890-e9a4c1bee6b5"></div>
		<iframe src="https://chatwing.com/chatbox/7915a340-932e-11e8-9890-e9a4c1bee6b5" width="800" height="600" frameborder="0" scrolling="0" >Please contact us at info@chatwing.com if you cant embed the chatbox</iframe>
		<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
		<script type="text/javascript">
			(function(d) {
			  var cwjs, id='chatwing-js';  if(d.getElementById(id)) {return;}
			  cwjs = d.createElement('script'); cwjs.type = 'text/javascript'; cwjs.async = true; cwjs.id = id
			  cwjs.src = "//chatwing.com/code/7915a340-932e-11e8-9890-e9a4c1bee6b5/popout";
			  d.getElementsByTagName('head')[0].appendChild(cwjs);
			})(document);
		  </script>

	

</body>
</html>